.intro {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.about-me {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* content */
.hero {
  padding-top: 150px;
  max-width: 960px;
  margin: 0 auto;
  height: 100vh;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

/* hero-text */
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.waving-hand {
  width: 50px;
  height: 50px;
}

.resume {
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-img {
  animation: morph 8s ease-in-out infinite;
  background-image: url('../img/IMG_0816.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 30rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 30rem;
}

/* .hero-text > p {
  padding: 0 100px 0 0;
} */

/* skills */
.skills {
  display: flex;
  justify-content:left;
  align-items: center;
}

.logos ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 500px;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 40% 30% 70% 60% / 30% 70% 60% 40%;
  }
  100% {
    border-radius: 30% 70% 60% 40% / 70% 60% 40% 30%;
  }
}

/* <section>About Me</section> */

.aboutMe-section {
  background-color: #fff;
  padding: 80px 0;
 
}

.aboutMe-section div {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}


.img-side__main-img {
  width: 350px;
  height: auto; 
  object-fit: cover;
  border-radius: 18px;
  
}

.about-text {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 10px;
  padding: 80px;

}

/* PROJECTS PAGE */
.projects {
  max-width: 960;
  margin: 0 auto;
  height: 400px;
}

/* ABOUT PAGE */

.about-page {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 150px;
}

.about-page>p {
  padding: 10px 0;
}

/* CONTACT PAGE */

.contact {
  background-color: #fff;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px;
  max-width: 960px;
  margin: 0 auto;
}

.contact-content>div {
  display: flex;
  gap: 50px;
}

.contact-content>h2 {
  margin-bottom: 36px;
  max-width: 400px;
}

.location {
  display: flex;
  gap: 20px;
  align-items: center;
}

.location-icon,
.mail-icon {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(18, 17, 17, 0.09);
  /* background-color: red; */
}

.location-icon>span,
.mail-icon>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the icon */
}

.mail {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* FOOTER */

footer {
  background-color: #2d2e32;
  
}

.footer-p {
  color: #fff;
}

footer>div {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
