* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #2d2e32;
}


p {
    color: #555;
    font-weight: 400;
    line-height: 1.6;
    font-size: 18px;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  height: auto;
  padding: 25px 50px;
  z-index: 200;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

header nav ul {
  font-weight: 700;
  font-size: large;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 300px;
  padding: 0;
}

header nav ul li {
  list-style: none;
}

.intro {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.about-me {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* content */
.hero {
  padding-top: 150px;
  max-width: 960px;
  margin: 0 auto;
  height: 100vh;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

/* hero-text */

h1 {
  font-size: 48px;
}

.waving-hand {
  width: 50px;
  height: 50px;
}

.hero-img {
  animation: morph 8s ease-in-out infinite;
  background-image: url('../img/IMG_0816.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 30rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 30rem;
}

/* .hero-text > p {
  padding: 0 100px 0 0;
} */

/* skills */
.skills {
  display: flex;
  justify-content:left;
  align-items: center;
}

.logos ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 500px;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 40% 30% 70% 60% / 30% 70% 60% 40%;
  }
  100% {
    border-radius: 30% 70% 60% 40% / 70% 60% 40% 30%;
  }
}

/* <section>About Me</section> */

.aboutMe-section {
  background-color: #fff;
  padding: 80px 0;
}

.aboutMe-section div {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}


.img-side__main-img {
  width: 350px;
  height: auto; 
  object-fit: cover;
  border-radius: 18px;
  
}

.about-text {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 10px;
  padding: 80px;

}
