.intro {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

/* .about-me {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
} */

/* content */
/* .hero {
  padding-top: 150px;
  max-width: 960px;
  margin: 0 auto;
  height: 100vh;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
} */

/* hero-text */
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.waving-hand {
  width: 50px;
  height: 50px;
}

.resume {
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* .hero-img {
  animation: morph 8s ease-in-out infinite;
  background-image: url('../img/IMG_0816.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 30rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 30rem;
} */

/* .hero-text > p {
  padding: 0 100px 0 0;
} */

/* skills */
.skills {
  display: flex;
  justify-content:left;
  align-items: center;
}

.logos ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 500px;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 40% 30% 70% 60% / 30% 70% 60% 40%;
  }
  100% {
    border-radius: 30% 70% 60% 40% / 70% 60% 40% 30%;
  }
}




