@use 'variables' as *;
@use 'mediaqueries';

header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  height: auto;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  .maxWidth-1140px{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
      width: 200px;
      height: 80px;
      max-width: 100%;
      height: auto;

      @include mediaqueries.bp(small){
        width: 150px;
        height: 60px;
      }
    }

    .left-navigation{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      gap: 32px;
  
      nav{

        @include mediaqueries.bp(small){
          display: none;
        }

        @include mediaqueries.bp(medium){
          display: none;
        }

        @include mediaqueries.bp(large){
          display: block;
        }

        ul{
          display: flex;
          justify-content: space-between;
          // width: 300px;
          gap: 32px;
          padding: 0;
          font-weight: 700;
          font-size: large;

          li{
            list-style: none;
            a{
              &:hover{
                color: $primary-color;
                transition: ease-in-out 0.2s;
              }
            }
          }
        }
      }

      .cta{
        @include mediaqueries.bp(small) {
          display: none;
        }
        @include mediaqueries.bp(medium) {
          display: none;
        }
        @include mediaqueries.bp(large){
          display: block;
        }
      }

      .hamburger{
        background-color: $white-color;
        border: none;
        cursor: pointer;

        @include mediaqueries.bp(large){
          display: none;
        }
      }

      .dropdown-menu {
        background-color: $white-color;
        width: 70%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(100%); /* Hidden off-screen */
        transition: transform 0.5s ease;
        z-index: 100;
        opacity: 1;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem 0.5rem;
        gap: 2rem;

        @include mediaqueries.bp(large) {
          display: none;
        }

        .close-hamburger-icon{
          background-color: transparent;
          border: none;
          cursor: pointer;
          align-self: flex-end;
          margin-right: 1rem;
        }

        ul{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          // width: 300px;
          gap: 32px;
          padding: 0;
          font-weight: 700;
          font-size: large;
          align-self: stretch;
          margin: 0 1rem;

          li{
            list-style: none;
            border-bottom: solid 1px $text-color;
            padding: 0.5rem 0;
            
            a{
              display: block;
              width: 100%;

              &:hover{
                color: $primary-color;
                transition: ease-in-out 0.2s;
              }
            }
          }
        }
        
        .dropdown-cta {
          align-self: stretch;
          margin: 0 1rem;
          text-align: center;
        }
      }
      
      .dropdown-menu.active {
        transform: translateX(0); /* Slide into view */
      }
      
    }
  }
}

.overlay {
  display: none;
}

.overlay.active {
  display: block;
  background: rgba(0, 0, 0, 0.5); 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  pointer-events: all;
  transition: opacity 0.3s ease;

  // @include bp(large) {
  //   display: none;
  // }
}



