* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  background-color: #f5f5f5;
  color: #2d2d2d;
}
body h1 {
  font-size: 3rem;
}
body h2 {
  font-size: 2.28rem;
}
body h3 {
  font-size: 1.732rem;
}
body h4 {
  font-size: 1.316rem;
}
body small {
  font-size: 1rem;
  color: #ffffff;
}
body h1, body h2, body h3, body h4 {
  font-weight: 700;
}
body p {
  color: #818181;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}
body a {
  color: #2d2d2d;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background-color: #3a86ff;
  color: #ffffff;
  font-weight: 600;
  border-radius: 25px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-primary:hover {
  background-color: #2e69cc;
  color: #ffffff;
}

.btn-secondary {
  background-color: #ffffff;
  color: #3a86ff;
  font-weight: 600;
  border-radius: 25px;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  border: 1px solid #3a86ff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-secondary:hover {
  background-color: #2e69cc;
  color: #ffffff;
}

header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  height: auto;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
header .maxWidth-1140px {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .maxWidth-1140px .logo {
  width: 200px;
  height: 80px;
  max-width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  header .maxWidth-1140px .logo {
    width: 150px;
    height: 60px;
  }
}
header .maxWidth-1140px .left-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  gap: 32px;
}
@media (max-width: 576px) {
  header .maxWidth-1140px .left-navigation nav {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 1139px) {
  header .maxWidth-1140px .left-navigation nav {
    display: none;
  }
}
header .maxWidth-1140px .left-navigation nav ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 0;
  font-weight: 700;
  font-size: large;
}
header .maxWidth-1140px .left-navigation nav ul li {
  list-style: none;
}
header .maxWidth-1140px .left-navigation nav ul li a:hover {
  color: #3a86ff;
  transition: ease-in-out 0.2s;
}
@media (max-width: 576px) {
  header .maxWidth-1140px .left-navigation .cta {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 1139px) {
  header .maxWidth-1140px .left-navigation .cta {
    display: none;
  }
}
header .maxWidth-1140px .left-navigation .hamburger {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
@media (min-width: 1140px) {
  header .maxWidth-1140px .left-navigation .hamburger {
    display: none;
  }
}
header .maxWidth-1140px .left-navigation .dropdown-menu {
  background-color: #ffffff;
  width: 70%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%); /* Hidden off-screen */
  transition: transform 0.5s ease;
  z-index: 100;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0.5rem;
  gap: 2rem;
}
@media (min-width: 1140px) {
  header .maxWidth-1140px .left-navigation .dropdown-menu {
    display: none;
  }
}
header .maxWidth-1140px .left-navigation .dropdown-menu .close-hamburger-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 1rem;
}
header .maxWidth-1140px .left-navigation .dropdown-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding: 0;
  font-weight: 700;
  font-size: large;
  align-self: stretch;
  margin: 0 1rem;
}
header .maxWidth-1140px .left-navigation .dropdown-menu ul li {
  list-style: none;
  border-bottom: solid 1px #2d2d2d;
  padding: 0.5rem 0;
}
header .maxWidth-1140px .left-navigation .dropdown-menu ul li a {
  display: block;
  width: 100%;
}
header .maxWidth-1140px .left-navigation .dropdown-menu ul li a:hover {
  color: #3a86ff;
  transition: ease-in-out 0.2s;
}
header .maxWidth-1140px .left-navigation .dropdown-menu .dropdown-cta {
  align-self: stretch;
  margin: 0 1rem;
  text-align: center;
}
header .maxWidth-1140px .left-navigation .dropdown-menu.active {
  transform: translateX(0); /* Slide into view */
}

.overlay {
  display: none;
}

.overlay.active {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  pointer-events: all;
  transition: opacity 0.3s ease;
}
@media (min-width: 1140px) {
  .overlay.active {
    display: none;
  }
}

footer {
  background-color: #101010;
}
footer .footer-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1140px) {
  footer .footer-container {
    flex-direction: row;
  }
}
footer .footer-container .branding-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 577px) and (max-width: 1139px) {
  footer .footer-container .branding-container {
    width: 25rem;
  }
}
@media (min-width: 1140px) {
  footer .footer-container .branding-container {
    width: 25rem;
  }
}
footer .footer-container .branding-container .logo {
  width: 150px;
  height: 60px;
  max-width: 100%;
  height: auto;
}
@media (min-width: 1140px) {
  footer .footer-container .branding-container .logo {
    width: 200px;
    height: 80px;
  }
}
footer .footer-container .branding-container p {
  color: #818181;
}
footer .footer-container .branding-container .footer-cta {
  text-align: center;
}
footer .footer-container .information-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
@media (min-width: 1140px) {
  footer .footer-container .information-container {
    flex-direction: row;
    justify-content: flex-end;
    gap: 5rem;
  }
}
footer .footer-container .information-container .browses,
footer .footer-container .information-container .web-services {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .footer-container .information-container .browses nav ul,
footer .footer-container .information-container .web-services nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-container .information-container .browses nav ul li,
footer .footer-container .information-container .web-services nav ul li {
  list-style: none;
}
footer .footer-container .information-container .browses nav ul li a,
footer .footer-container .information-container .web-services nav ul li a {
  display: block;
  width: 100%;
  color: #818181;
}
footer .footer-container .information-container .contact-me {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .footer-container .information-container .contact-me .phone-email,
footer .footer-container .information-container .contact-me .social-icon {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
footer .footer-container .information-container .contact-me .phone-email p,
footer .footer-container .information-container .contact-me .social-icon p {
  color: #818181;
}
footer .footer-container .information-container .contact-me .phone-email p a,
footer .footer-container .information-container .contact-me .social-icon p a {
  color: #ffffff;
}

.small-section {
  background-color: black;
  height: 30px;
  padding: 1rem;
  text-align: center;
}
.small-section small {
  color: #818181;
}/*# sourceMappingURL=styles.css.map */